body {
    background-color: #000;
    font-family: consolas;
}
  
.chat-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #2b333b;
    box-shadow: 0 0 75px #40565c;
}
  
.chat-header {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}
  
.chat-messages {
    height: 300px;
    overflow-y: scroll;
    box-shadow: 0px 0px 1px #000;
    border-radius: 5px;
    padding: 10px;
    background-color: #1a2733;
}
  
.chat-input {
    display: flex;
    margin-top: 20px;
}
  
.chat-input input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 0;
}
  
.chat-input button {
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    background-color: #5d8b98;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}
  
.settings-menu {
    margin-top: 20px;
    box-shadow: 0px 0px 1px #000;
    border-radius: 5px;
    padding: 10px;
    background-color: #1a2733;
}
  
.settings-menu h2 {
    margin-top: 0;
    color: #f7f7f7;
}
  
.settings-menu label {
    display: block;
    margin-bottom: 5px;
    color: #d7d9db;
}
  
.settings-menu input[type="number"],
.settings-menu select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
}
  
.settings-menu button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #5d8b98;
    color: #fff;
    cursor: pointer;
}
    
.user-message {
    background-color: #5d8b98;
    color: #d7d9db;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
    max-width: 60%;
}
  
.bot-message {
    background-color: #40565c;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    text-align: right;
    margin-left: auto;
    max-width: 60%;
    color: #d7d9db;
}
  
#settings_icon {
    position: absolute;
    width: 2.5%;
    right: 2%;
    top: 3%;
    transition: 1s transform cubic-bezier(.79,.14,.15,.86);
}
  
#settings_icon:hover {
    transform: rotate(180deg);
}
